.container{ 
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  width: 300px;
  height: 300px;
}

.cards {
  &__container  {
    display: grid;
    // grid-template-columns: auto auto auto auto;\
    height: 600px;
    width: 500px;
    row-gap: 10px;
    column-gap: 10px;
    overflow-y: scroll;
    border: 1px solid #000000;
  }
}